name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - name: Make dir-linux
      run: mkdir linux
    - name: Build
      run: go build -v -o linux ./...

    - name: Test
      run: go test -v ./...
      
    - name: Make dir mac
      run: mkdir mac
    - name: Build Darvin
      run: GOOS=darwin GOARCH=arm64 go build -v -o mac ./...
      
    - name: Make dir Windows
      run: mkdir windows
      
    - name: Build Windows
      run: GOOS=windows GOARCH=amd64 go build -v -o windows ./...
      
    - run: ls -al
    - run: ls -al mac
    - run: ls -al linux
    - run: ls -al windows

    - uses: actions/upload-artifact@v2
      with:
        name: awss3destroyer-linux
        path: ./linux/s3destroyer

    - uses: actions/upload-artifact@v2
      with:
        name: awss3destroyer-mac
        path: ./mac/s3destroyer
        
    - uses: actions/upload-artifact@v2
      with:
        name: awss3destroyer-windows
        path: ./windows/s3destroyer.exe
